/* Classes and ID's to be used repeatedly */

.inline-block {
    display: inline-block;
}

.display-right {
    display: inline-block;
    margin-left: 25px;
}

.display-left {
    display: inline-block;
    margin-right: 25px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.mb-4 {
    margin-bottom: 32px;
}